.card {
	height: 200px !important;
}

#show {
	display: none;
}

#new {
	display: none;
}

#update {
	display: none;
}

#update-other {
	display: none;
}

.btn {
	margin-right: 5px;
}

form {
	margin-top: 20px;
}