<!DOCTYPE html>
<html>
<head>
  <title>AjaxShop</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script> -->
</head>
<body>

<%= yield %>
</body>
</html>
